.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111111;
    background-color: #333333;
    border-radius: 10px;
    font-family: 'Vast Shadow', sans-serif;

}
.logo h2 {
    color: #E1F4F3;
    background-size: 100% 100%;
    background-clip: text;
    font-family: 'Vast Shadow', sans-serif;
    margin-bottom: 0;
    margin: auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Vast Shadow', sans-serif;

}

.menu_list {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
    font-family: 'Vast Shadow', sans-serif;
    list-style-type: none;
    column-gap: 2.7rem;
}

.menu_items a {
    text-decoration: none;
    color: #E1F4F3;
    font-family: 'Vast Shadow', sans-serif;
}

.menu_items a:hover {
    color: #E1F4F3;
    font-family: 'Vast Shadow', sans-serif;
}

.active {
    color: darkcyan !important;
  }

.menu_wallet .btn {
    padding: 7px 25px;
    border: 1px solid darkcyan;
    border-radius: 50px;
    border:none;
}

.menu_wallet .btn a {
    color: #E1F4F3;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Vast Shadow', sans-serif;
    border: none;
}

.wallet{
    color: #E1F4F3 ;
}

.menu_wallet .btn a:hover {
    color: #E1F4F3;
}

.mobile_menu {
    color: #E1F4F3;
    font-size: 1.3rem;
    display: none;
    border: none;
}

@media only screen and (max-width: 768px) {
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:#333333 ;
      z-index: 222222;
      display: none;
    }

    .active__menu {
        display: block;
    }
  
    .menuC {
      display: block;
    }
    .menu_list {
        position:absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #333333;
        z-index: 333333;
        flex-direction: column;
        padding-top: 40px;
        font-family: 'Vast Shadow', sans-serif;
    }
  
  
    .mobile_menu {
      display:block;
      border: none;
    }
    
    .btn {
        padding: 4px 25px !important;
        border : none;
    }
    
     .btn a {
        font-size: 0.5rem !important;
    }
  
  }