.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111111;
    background-color: #333333;
    border-radius: 10px;
    font-family: 'Vast Shadow', sans-serif;

}
.logo h2 {
    color: #E1F4F3;
    font-size: 50px;
    font-family: 'Vast Shadow', sans-serif;
    margin: auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Vast Shadow', sans-serif;

}

.menu_list {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
    font-family: 'Vast Shadow', sans-serif;
    list-style-type: none;
}

.menu_items a {
    text-decoration: none;
    color: #E1F4F3;
    font-family: 'Vast Shadow', sans-serif;
}

.menu_items a:hover {
    color: #E1F4F3;
    font-family: 'Vast Shadow', sans-serif;
}

.menu_wallet .btn {
    padding: 7px 25px;
    border: 1px solid darkviolet;
    border-radius: 50px;
}

.menu_wallet .btn a {
    color: #E1F4F3;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;
    font-family: 'Vast Shadow', sans-serif;
}

.wallet{
    color: #E1F4F3 ;
}

.menu_wallet .btn a:hover {
    color: #E1F4F3;
}

.mobile_menu {
    color: #E1F4F3;
    font-size: 1.3rem;
    display: none;
}